<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.dao.RentDAO">

	<!-- 대여하기 -->
	<insert id="rentInsert" useGeneratedKeys="true" keyProperty="rent_no">
	    <![CDATA[
		INSERT INTO rent (
		      rent_no          
            , book_no
            , user_id
            , rent_check
            , branch_code
        )	
		VALUES (
		      0       
		    , #{book_no}
		    , #{user_id}
		    , 1
		    , #{branch_code})
		]]>
	</insert>
	
	<!-- 대여내역 조회 -->
	<select id="rentSelect" resultType="com.project.demo.vo.RentVO" parameterType="java.util.Map">
	<![CDATA[
		SELECT 
		       b.book_title
		     , b.book_author
		     , b.book_no 
		     , a.rent_startdate 
		     , a.rent_enddate
		     , a.rent_check
		     , a.branch_code	     
		     , c.branch_name		     
	    FROM rent a, book b, branch c
	    WHERE b.book_no = a.book_no
	    AND   a.branch_code= c.branch_code
	    AND   a.user_id = #{user_id} 
	    AND   (a.rent_check=1
	    OR   a.rent_check=0)
    ]]> 
	</select>
	
	<!-- 대여 상태 업데이트 -->
<!-- 	<update id="rentState" parameterType="java.util.Map">			 -->
<!-- 	    UPDATE rent	     -->
<!-- 	    SET    rent_check = NOT rent_check	        -->
<!-- 	    WHERE  user_id = #{user_id} AND book_no = #{book_no}	      -->
<!-- 	</update>	 -->
		
	<update id="returnDay" parameterType="java.util.Map">			
	    UPDATE rent	    
	    SET    rent_returnday = curdate(),
	           rent_check = 3
	    WHERE  user_id = #{user_id} AND book_no = #{book_no}	     
	</update>	
	
	<!-- 도서의 대여 횟수 -->
	<update id="bookIncreaseHit">
	    <![CDATA[
	    UPDATE book
	    SET    book_hit=book_hit+1
	    WHERE book_no = #{book_no}	
	    ]]>      
	</update>	
	
	<!-- 유저의 대여권수 -->
	<select id="userRentCount" parameterType="java.util.Map" resultType="int">
        SELECT user_rentcount
        FROM user
        WHERE user_id= #{user_id}
	</select>
	
	<!-- 유저의 대여권수 (대여) -->
	<update id="IncreaseUserRent">
	    <![CDATA[
	    UPDATE user
	    SET user_rentcount=user_rentcount+1
	    WHERE user_id = #{user_id}	
	    ]]>      
	</update>
	
	<!-- 유저의 대여권수 (반납) -->	
	<update id="decreaseUserRent">
	    <![CDATA[
	    UPDATE user
	    SET user_rentcount = user_rentcount-1
	    WHERE user_id = #{user_id}	
	    ]]>      
	</update>	
	
	<update id="decreaseBookStock" parameterType="java.util.HashMap">
	    <![CDATA[
	    UPDATE stock
	    SET stock_count = stock_count-1
	    WHERE book_no = #{book_no}
	    AND branch_code = #{branch_code}
        ]]> 
	</update> 

	<update id="increaseBookStock" parameterType="java.util.HashMap">
	    <![CDATA[
	    UPDATE stock
	    SET stock_count = stock_count+1
	    WHERE book_no = #{book_no}
	    AND branch_code = #{branch_code}
        ]]> 
	</update>

	<select id="bookStockCount" resultType="com.project.demo.vo.StockVO" parameterType="java.util.Map">
	    SELECT 
	        stock_count
	    FROM stock
	    WHERE book_no = #{book_no}
	    AND   branch_code = #{branch_code}
	</select>
	
	<select id="duplicateBook" resultType="int">
	    SELECT 
	        count(*)
	    FROM
	        rent
	    WHERE 1=1
	    AND book_no = #{book_no}
	    AND branch_code= #{branch_code}
	    AND user_id = #{user_id}
	    AND (rent_check = 1	
	    OR rent_check =0)	   
	</select>
	
</mapper>

