<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.dao.UserDAO">
    <!-- 아이디 존재여부 확인 -->
	<select id="userIdCount" resultType="int" parameterType="String">
		SELECT COUNT(*)		     
		FROM user
		WHERE user_id= #{user_id}
    </select>
    
    <!-- 해당 아이디의 비밀번호 확인 -->
    <select id="userGetPassword" resultType="com.project.demo.vo.UserVO" parameterType="String">
		SELECT 
		    user_pwd
		  , user_name		     
		FROM user
		WHERE user_id = #{user_id}
    </select>
    
    <!-- 회원가입 -->
    <insert id="userInsert" parameterType="com.project.demo.vo.UserVO">
       INSERT INTO user (
           user_id
         , user_pwd
         , user_name
         , user_date
         , user_addr1
         , user_email
         , user_phone
         , user_answer
         )
       VALUES (
           #{userId}
         , #{userPwd}
         , #{userName}
         , #{userDate}
         , #{userAddr1}
         , #{userEmail}
         , #{userPhone}
         , #{userAnswer}
         )
    </insert>
    
    <!-- 회원정보 -->
    <select id="selectUserInfo" resultType="com.project.demo.vo.UserVO" parameterType="String">
       SELECT 
           user_id        
         , user_name
         , user_date
         , user_addr1
         , user_email
         , user_phone
         , actv_yn
       FROM user
       WHERE user_id=#{user_id}
    </select>
    
    <!-- 비밀번호 변경 -->
    <update id="changPwd" parameterType="java.util.Map">
        
        UPDATE user       
         SET  
            user_email= #{user_email}
          , user_phone= #{user_phone}
          , user_addr1= #{user_addr1}
          , user_pwd = #{user_pwd}
        WHERE user_id = #{user_id}
         
    </update>    
    
    <delete id="deleteUser" parameterType="java.util.Map">
        DELETE FROM user
        WHERE user_id = #{user_id}
    </delete>
    
    <select id="rentCount" resultType="int" parameterType="java.util.Map">
        SELECT DISTINCT user_rentcount
        FROM user
        WHERE user_id = #{user_id} 
    </select>
    
    <select id="pwdFindCount" resultType="int" parameterType="com.project.demo.vo.UserVO">
        SELECT COUNT(*)
        FROM user
        WHERE 1=1
        AND   user_id = #{userId}
        AND   user_answer = #{userAnswer}
    </select>
    
    <update id="pwdFindChange" parameterType="com.project.demo.vo.UserVO">
        UPDATE user
        SET    user_pwd = #{userPwd}
        WHERE user_id = #{userId}
    </update>
    
    <select id="suspensionUser" resultType="int" parameterType="java.util.Map">
	  <![CDATA[
	    SELECT COUNT(*)
	    FROM user
	    WHERE  user_id= #{user_id}
	      AND  user_end_suspensionday < curdate()
	  ]]> 
	</select>
</mapper>      